asgiref==3.7.2
BeautifulSoup==3.2.2
beautifulsoup4==4.12.2
brotli==1.0.9
cffi==1.15.1
colorama==0.4.6
Cython==0.29.35
dl==0.1.0
html5lib==1.1
ipaddr==2.2.0
keyring==23.13.1
mypy_extensions==1.0.0
numpy==1.24.3
ordereddict==1.1
protobuf==4.23.2
PyInstaller==5.11.0
pytest==7.3.1
python-dotenv==1.0.0
python_bcrypt==0.3.2
sets==0.3.2
simplejson==3.19.1
typing_extensions==4.6.3
watchdog==3.0.0
wincertstore==0.2.1
xmlrpclib==1.0.1
