{% extends "base_template.html" %}
{% block title %}Login{% endblock %} 

{% block content%}
      <br>

      Successfully logged in as {{ current_user.first_name |pprint}} {{ current_user.last_name|pprint}}
      <br>
      <br>
      {% if current_user.role == "admin" %}
        Click here to register a new user:
        <br>
        <br>
        <a class="btn btn-primary" href="/sign_up"
        role="button">Register new user</a>
      {% endif %}

      {% if current_user.role == "doc" %}
        You are a doctor, wait for a emt staff to call for help.
        <br>
        <br>
        <a class="btn btn-primary" href="/app"
        role="button">Open App</a>
      {% endif %}

      {% if current_user.role == "emt" %}
        You are an emergency service staff member. Call a doctor if
        necessary.
        <br>
        <br>
        <a class="btn btn-primary" href="/app"
        role="button">Open App</a>
      {% endif %}
      
{% endblock %}